const canvas = document.getElementById("board");
const ctx = canvas.getContext("2d");

let drawing = false;

// Start drawing
canvas.addEventListener("mousedown", () => {
  drawing = true;
  ctx.beginPath();
});

// Stop drawing
canvas.addEventListener("mouseup", () => {
  drawing = false;
});

// Draw movement
canvas.addEventListener("mousemove", (e) => {
  if (!drawing) return;

  ctx.lineWidth = 3;
  ctx.lineCap = "round";
  ctx.strokeStyle = "black";

  ctx.lineTo(
    e.clientX - canvas.offsetLeft,
    e.clientY - canvas.offsetTop
  );

  ctx.stroke();
});

// Clear button
document.getElementById("clearBtn").addEventListener("click", () => {
  ctx.clearRect(0, 0, canvas.width, canvas.height);
});
